#media-player {
  background-color: #2f3640;
  border-radius: 6px;
  color: #ffffff;
  padding: 16px;
  max-width: 600px;
  margin: 20px auto;
}

#media-player ul {
  background-color: #353b48;
  border-radius: 6px;
  padding: 16px;
}

#media-player ul li a {
  display: block;
  color: #ffffff;
  padding: 8px;
}

#media-player ul li:hover, #media-player ul li.is-active {
  color: #ffffff;
  background-color: #718093;
}

.media-player__controls {
  width: 100%;
  border-radius: 6px;
  background-color: #353b48;
  margin-top: 6px;
  padding: 16px;
  position: relative;
}

.media-player__play-pause-button {
  display: inline-block;
  font-size: 72px;
  background-color: #718093;
  color: #e1b12c;
  width: 80px;
  height: 80px;
  line-height: 72px;
  padding: 0;
  padding-left: 4px;
  border-radius: 50%;
}

.media-player__play-pause-button:hover {
  box-shadow: 0px 0px 1px 0px #7f8fa6;
  color: #fbc531;
}

.media-player__volume-container {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 40px;
  width: 25%;
  margin: 0 40px;
}

.media-player__volume-container input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #718093;
  outline: none;
  opacity: 0.8;
  transition: opacity .2s;
}

.media-player__volume-container input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 6px; 
    background: #e1b12c;
    cursor: pointer;
}

.media-player__volume-container input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 6px;
    background: #e1b12c;
    cursor: pointer;
}

.media-player__playback-container {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  background-color: #7f8fa6;
  margin-top: 40px;
}

.media-player__playback-container div {
  background-color: #fbc531;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.media-player__playback-container .duration {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 12px;
}