#media-player {
  background-color: #2f3640;
  border-radius: 6px;
  color: #ffffff;
  padding: 16px;
  max-width: 600px;
  margin: 20px auto;
}

#media-player ul {
  background-color: #353b48;
  border-radius: 6px;
  padding: 16px;
}

#media-player ul li a {
  display: block;
  color: #ffffff;
  padding: 8px;
}

#media-player ul li:hover, #media-player ul li.is-active {
  color: #ffffff;
  background-color: #718093;
}

.media-player__controls {
  width: 100%;
  border-radius: 6px;
  background-color: #353b48;
  margin-top: 6px;
  padding: 16px;
}

.media-player__play-pause-button {
  display: inline-block;
  font-size: 72px;
  background-color: #718093;
  color: #e1b12c;
  width: 80px;
  height: 80px;
  line-height: 72px;
  padding: 0;
  padding-left: 4px;
  border-radius: 50%;
}

.media-player__play-pause-button:hover {
  box-shadow: 0px 0px 1px 0px #7f8fa6;
  color: #fbc531;
}